<!--エラーメッセージ -->
	<% if @address.errors.any? %>
	<div class="error_explanation" >
		<h2><%= @address.errors.count %>errors prohibited this address from being saved:</h2>
		<ul>
			<% @address.errors.full_messages.each do |address| %>
			<li><%= address %></li>
			<% end %>
		</ul>
	</div>
	<% end %>
<!-- エラーメッセージ -->
<!-- サクセスメッセージ：後で消していい -->
<p id="notice"><%= notice %></p>
<!-- サクセスメッセージ -->

<div class="row">
	<div class="col-xs-3">
	   <h2>配送先編集</h2>
　　　　<%= render 'member/addresses/form', address: @address %>
 </div>
</div>
