会員一覧ページ<br>
<table class = 'table'>
 <thead>
  <tr>
   <th>会員ID</th>
   <th>氏名</th>
   <th>メールアドレス</th>
   <th>ステータス</th>
  </tr>
 </thead>
 <tbody>
  <% @members.each do  |member| %>
  <tr>
   <td><%= member.id %></td>
   <td><%= link_to member.surname, admin_admin_path(member.id) %><%= link_to member.name, admin_admin_path(member.id)  %></td>
   <td><%= member.email %></td>
   <td><% if member.quit %>
        有効
       <% else %>
        退会済み
       <% end %></td></tr>	
  <% end %>
 </tbody>
</table>