<% if model.errors.any? %>
<div class="alert alert-warning" style="color: red;">
	<ul>
		<% model.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>