<div class="row">
	<div class="col-xs-3">
		<h2>配送先登録/一覧</h2>
		<!-- 登録機能 -->
		<%= form_for(@addresses) do |f| %>
		<!-- 登録機能 -->
		<!-- 一覧 -->
		<table class="table table-hover table-inverse">
			<thead>
				<tr>
					<th>郵便番号</th>
					<th colspan="4">住所</th>
					<th>宛名</th>
					<th colspan="2"></th>
				</tr>
			</thead>
		</table>
		<!-- 一覧 -->
	</div>
</div>